{% extends "@FollowMeBundle/Resources/views/base.html.twig" %}

{% block title %}Follow me{% endblock %}

{% block body %}
<h1>Follow me</h1>
<hr />

{{ render_esi(controller('FollowMeBundle:Main:banner')) }}


{% endblock %}
